In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#load the dataset 
data_url = "https://raw.githubusercontent.com/suber-mhci/haii/master/tmdb_5000_movies.csv"
df = pd.read_csv(data_url)

In [3]:
#convert dict to list 
import re
import json
def dict_lists(dataFrame,src_column):
    new_vals = []
    for value in dataFrame[src_column]:
        if value == value:
            # getting list of substrings
            jsons_list = re.findall('{.*?}', value)
            # getting dict_list for this value
            dicts_list = []
            for json_val in jsons_list:
                dicts_list.append(json.loads(json_val))
            new_vals.append(dicts_list)
        else:
            new_vals.append(np.nan)
    return new_vals

In [4]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [5]:
df_genres = pd.DataFrame(dict_lists(df,'genres'))
df_production_company = pd.DataFrame(dict_lists(df,'production_companies'))
df_production_country = pd.DataFrame(dict_lists(df,'production_countries'))

In [6]:
df_genres.head(1)
df_production_company.head(1)
df_production_country.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11
0,"{'iso_3166_1': 'US', 'name': 'United States of...","{'iso_3166_1': 'GB', 'name': 'United Kingdom'}",None,None,None,None,None,None,None,None,None,None

In [7]:
print(df_genres.iloc[0][0])

{'id': 28, 'name': 'Action'}

In [8]:
print(len(df_genres.iloc[1]))

7

In [9]:
def list_category(category):
    for i in range(0, 4803):
        for j in range(0, 7):
            if category.iloc[i][j] != None:
                category.iloc[i][j] = category.iloc[i][j].get('name')

In [10]:
list_category(df_genres)
list_category(df_production_company)
list_category(df_production_country)
df_genres.head(1)

        0          1        2                3     4     5     6
0  Action  Adventure  Fantasy  Science Fiction  None  None  None

In [11]:
df_production_company.head(1)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Ingenious Film Partners,Twentieth Century Fox Film Corporation,Dune Entertainment,Lightstorm Entertainment,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [12]:
df_production_country.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11
0,United States of America,United Kingdom,None,None,None,None,None,None,None,None,None,None

In [13]:
df_genres[0].value_counts()

Drama              1207
Comedy             1042
Action              754
Adventure           339
Horror              300
Crime               195
Thriller            194
Animation           123
Fantasy             117
Romance             106
Science Fiction      96
Documentary          89
Family               56
Mystery              41
Music                34
Western              27
History              25
War                  24
TV Movie              4
Foreign               2
Name: 0, dtype: int64

In [14]:
#add genre column to original dataframe
df['top_genre'] = df_genres[0]
df["top_production_company"] = df_production_company[0]
df["top_production_country"] = df_production_country[0]

In [15]:
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,top_genre,top_production_company,top_production_country
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Action,Ingenious Film Partners,United States of America

In [16]:
#only want to keep a few columns 
df_sample = df[["budget", "top_genre","revenue", "top_production_company", "top_production_country", "original_language", "popularity", "runtime"]]

In [17]:
df_sample['release_day'] = df['release_date'].str[8:]
df_sample['release_month'] = df['release_date'].str[5:7]
df_sample['release_year'] = df['release_date'].str[0:4]
df_sample.head(1)

/var/folders/z7/10wjhb1949v24p4wx4kyt7qm0000gn/T/ipykernel_90931/2250938673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sample['release_day'] = df['release_date'].str[8:]
/var/folders/z7/10wjhb1949v24p4wx4kyt7qm0000gn/T/ipykernel_90931/2250938673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sample['release_month'] = df['release_date'].str[5:7]
/var/folders/z7/10wjhb1949v24p4wx4kyt7qm0000gn/T/ipykernel_90931/2250938673.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sample['release_year'] = df['release_date'].str[0:4]

,budget,top_genre,revenue,top_production_company,top_production_country,original_language,popularity,runtime,release_day,release_month,release_year
0,237000000,Action,2787965087,Ingenious Film Partners,United States of America,en,150.437577,162.0,10,12,2009

In [18]:
df_sample['release_month'].value_counts()

09    588
10    474
12    456
08    413
06    389
01    382
03    372
05    363
07    363
04    350
11    326
02    326
Name: release_month, dtype: int64

In [19]:
df_sample['release_day'].value_counts()

01    291
25    199
22    185
11    185
16    179
13    176
09    175
12    172
21    172
10    171
17    170
15    166
18    164
20    162
07    161
06    150
19    148
14    148
27    144
05    142
24    140
08    139
03    135
23    135
26    134
02    127
30    127
04    120
28    106
29    100
31     79
Name: release_day, dtype: int64

In [20]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   budget                  4803 non-null   int64
 1   top_genre               4775 non-null   object
 2   revenue                 4803 non-null   int64
 3   top_production_company  4452 non-null   object
 4   top_production_country  4629 non-null   object
 5   original_language       4803 non-null   object
 6   popularity              4803 non-null   float64
 7   runtime                 4801 non-null   float64
 8   release_day             4802 non-null   object
 9   release_month           4802 non-null   object
 10  release_year            4802 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 412.9+ KB

In [21]:
df_sample = df_sample.dropna()
df_sample.isnull().sum()

budget                    0
top_genre                 0
revenue                   0
top_production_company    0
top_production_country    0
original_language         0
popularity                0
runtime                   0
release_day               0
release_month             0
release_year              0
dtype: int64

In [22]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4429 entries, 0 to 4802
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   budget                  4429 non-null   int64
 1   top_genre               4429 non-null   object
 2   revenue                 4429 non-null   int64
 3   top_production_company  4429 non-null   object
 4   top_production_country  4429 non-null   object
 5   original_language       4429 non-null   object
 6   popularity              4429 non-null   float64
 7   runtime                 4429 non-null   float64
 8   release_day             4429 non-null   object
 9   release_month           4429 non-null   object
 10  release_year            4429 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 415.2+ KB

In [23]:
df_sample = df_sample[df_sample["top_genre"] != "TV Movie"]
df_sample = df_sample[df_sample["top_genre"] != "Foreign"]
df_sample = df_sample[df_sample["budget"] != 0]
df_sample = df_sample[df_sample["budget"] >= 5000]

In [24]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,top_genre,top_production_company,top_production_country
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Action,Ingenious Film Partners,United States of America
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Adventure,Walt Disney Pictures,United States of America
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Action,Columbia Pictures,United Kingdom
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Action,Legendary Pictures,United States of America
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Action,Walt Disney Pictures,United States of America

In [25]:
def clean_month(x):
    if "12" in x:
        return "December"
    if "11" in x:
        return "November"
    if "10" in x:
        return "October"
    if "1" in x:
        return "January"
    if "2" in x:
        return "Feburary"
    if "3" in x:
        return "March"
    if "4" in x:
        return "April"
    if "5" in x:
        return "May"
    if "6" in x:
        return "June"
    if "7" in x:
        return "July"
    if "8" in x:
        return "August"
    if "9" in x:
        return "September"

In [26]:
df_sample['release_month'] = df_sample['release_month'].apply(clean_month)

In [27]:
df_sample['release_month'].value_counts()

September    431
December     380
October      341
August       317
June         307
July         294
March        287
May          282
November     276
April        253
Feburary     249
January      228
Name: release_month, dtype: int64

In [28]:
df_sample.head()

,budget,top_genre,revenue,top_production_company,top_production_country,original_language,popularity,runtime,release_day,release_month,release_year
0,237000000,Action,2787965087,Ingenious Film Partners,United States of America,en,150.437577,162.0,10,December,2009
1,300000000,Adventure,961000000,Walt Disney Pictures,United States of America,en,139.082615,169.0,19,May,2007
2,245000000,Action,880674609,Columbia Pictures,United Kingdom,en,107.376788,148.0,26,October,2015
3,250000000,Action,1084939099,Legendary Pictures,United States of America,en,112.312950,165.0,16,July,2012
4,260000000,Action,284139100,Walt Disney Pictures,United States of America,en,43.926995,132.0,07,March,2012

In [29]:
df_sample['original_language'].value_counts()

en    3475
fr      37
es      23
zh      16
ja      15
de      14
ru       8
hi       8
ko       7
cn       7
da       6
it       6
pt       3
nl       3
th       2
fa       2
id       2
pl       1
ro       1
no       1
he       1
xx       1
af       1
nb       1
tr       1
sv       1
te       1
ps       1
Name: original_language, dtype: int64

In [30]:
#remove the languages where there are only a few values 
def shorten_categories(categories, cutoff):
  categorical_map = {}
  for i in range(len(categories)):
    if categories.values[i] >= cutoff:
      categorical_map[categories.index[i]] = categories.index[i]
    else: 
      categorical_map[categories.index[i]] = "Other"
  return categorical_map

In [31]:
language_map = shorten_categories(df_sample['original_language'].value_counts(), 10)
df_sample["original_language"] = df_sample['original_language'].map(language_map)
df_sample['original_language'].value_counts()

en       3475
Other      65
fr         37
es         23
zh         16
ja         15
de         14
Name: original_language, dtype: int64

In [32]:
def clean_language(x):
    if "en" in x:
        return "English"
    if "fr" in x: 
        return "French"
    if "es" in x: 
        return "Spanish"
    if "zh" in x:
        return "Chinese"
    if "de" in x: 
        return "German"
    if "ja" in x: 
        return "Japanese"
    if "hi" in x: 
        return "Hindi"
    if "cn" in x:
        return "Chinese"
    if "ru" in x: 
        return "Russian"
    if "ko" in x: 
        return "Korean"
    if "it" in x: 
        return "Italian"

In [33]:
df_sample['original_language'] = df_sample['original_language'].apply(clean_language)

In [34]:
production_country_map = shorten_categories(df_sample['top_production_country'].value_counts(), 10)
df_sample['top_production_country'] = df_sample['top_production_country'].map(production_country_map)
df_sample['top_production_country'].value_counts()

United States of America    2499
United Kingdom               280
Germany                      170
Canada                       165
France                       129
Other                        112
Australia                     71
Japan                         30
China                         27
Spain                         27
India                         26
New Zealand                   18
Italy                         17
Mexico                        17
Hong Kong                     15
Ireland                       15
Czech Republic                14
Belgium                       13
Name: top_production_country, dtype: int64

In [35]:
production_company_map = shorten_categories(df_sample['top_production_company'].value_counts(), 10)
df_sample['top_production_company'] = df_sample['top_production_company'].map(production_company_map)
df_sample['top_production_company'].value_counts()

Other                                     1444
Paramount Pictures                         258
Universal Pictures                         243
Columbia Pictures                          181
Twentieth Century Fox Film Corporation     165
New Line Cinema                            141
Walt Disney Pictures                       104
Miramax Films                               73
Village Roadshow Pictures                   65
Columbia Pictures Corporation               61
United Artists                              61
Warner Bros.                                59
DreamWorks SKG                              56
Fox Searchlight Pictures                    53
Summit Entertainment                        43
TriStar Pictures                            39
Metro-Goldwyn-Mayer (MGM)                   38
Lionsgate                                   29
The Weinstein Company                       29
Regency Enterprises                         29
Touchstone Pictures                         28
Imagine Entertainment                       27
Dimension Films                             24
Lakeshore Entertainment                     24
Lions Gate Films                            23
BBC Films                                   20
Ingenious Film Partners                     20
Fox 2000 Pictures                           19
Hollywood Pictures                          18
Castle Rock Entertainment                   18
Spyglass Entertainment                      16
Legendary Pictures                          15
Studio Babelsberg                           14
Lucasfilm                                   14
StudioCanal                                 14
DreamWorks Animation                        14
Dune Entertainment                          14
Screen Gems                                 14
Alcon Entertainment                         13
Orion Pictures                              12
Amblin Entertainment                        12
Double Feature Films                        11
Marvel Studios                              10
DC Comics                                   10
Silver Pictures                             10
Eon Productions                             10
Jerry Bruckheimer Films                     10
WingNut Films                               10
Relativity Media                            10
Impact Pictures                             10
Sony Pictures Classics                      10
Name: top_production_company, dtype: int64

In [36]:
df_sample['top_production_country'].value_counts()

United States of America    2499
United Kingdom               280
Germany                      170
Canada                       165
France                       129
Other                        112
Australia                     71
Japan                         30
China                         27
Spain                         27
India                         26
New Zealand                   18
Italy                         17
Mexico                        17
Hong Kong                     15
Ireland                       15
Czech Republic                14
Belgium                       13
Name: top_production_country, dtype: int64

In [37]:
#some of the data is a number, but some is a string. 
#So, I need to transform the string values into numbers 
#that the model can understand
from sklearn.preprocessing import LabelEncoder
le_top_genre = LabelEncoder()
df_sample['top_genre'] = le_top_genre.fit_transform(df_sample['top_genre'])
le_top_production_company = LabelEncoder()
df_sample['top_production_company'] = le_top_production_company.fit_transform(df_sample['top_production_company'])
le_top_production_country = LabelEncoder()
df_sample['top_production_country'] = le_top_production_country.fit_transform(df_sample['top_production_country'])                                                                             
le_original_language = LabelEncoder()
df_sample['original_language'] = le_original_language.fit_transform(df_sample['original_language'])                                                                             
le_release_month = LabelEncoder()
df_sample['release_month'] = le_release_month.fit_transform(df_sample['release_month'])

In [38]:
df_sample['top_production_company'].value_counts()

30    1444
31     258
46     243
4      181
44     165
28     141
48     104
27      73
47      65
5       61
45      61
49      59
10      56
14      53
40      43
43      39
26      38
23      29
41      29
32      29
42      28
16      27
7       24
20      24
22      23
2       20
18      20
13      19
15      18
3       18
37      16
21      15
38      14
24      14
39      14
9       14
11      14
34      14
0       13
29      12
1       12
8       11
25      10
6       10
35      10
12      10
19      10
50      10
33      10
17      10
36      10
Name: top_production_company, dtype: int64

In [39]:
#include only the movies released on 2020 and 2021
df_pandemic = df_sample[df_sample["release_year"] == "2016"]
df_pandemic.head()

,budget,top_genre,revenue,top_production_company,top_production_country,original_language,popularity,runtime,release_day,release_month,release_year
9,250000000,0,873260194,6,17,1,155.790452,151.0,23,7,2016
26,250000000,1,1153304495,38,17,1,198.372395,147.0,27,0,2016
56,185000000,0,343471816,31,17,1,65.352913,122.0,07,5,2016
62,180000000,0,356743061,47,2,1,42.741719,109.0,29,6,2016
64,178000000,14,543934787,44,17,1,139.272042,144.0,18,8,2016

In [40]:
df_sample['release_month'].value_counts()

11    431
2     380
10    341
1     317
6     307
5     294
7     287
8     282
9     276
0     253
3     249
4     228
Name: release_month, dtype: int64

In [41]:
#X = features and y = what we want to predict
X = df_sample.drop(['revenue', 'release_year', 'original_language', 'top_production_country'], axis=1) #noram
y = df_sample['revenue']

In [42]:
#training dataset 
from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [44]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
#you would typically only fit on the training data

LinearRegression()

In [45]:
y_pred = linear_reg.predict(X_test)

In [46]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
error = np.sqrt(mean_squared_error(y_test, y_pred))

In [47]:
#the amount that we are off 
error

100083119.48095065

In [48]:
linear_reg.score(X_test,y_test)

0.6553239176750822

In [49]:
#DecisionTreeRegressor 
from sklearn.tree import DecisionTreeRegressor
dec_tree_reg = DecisionTreeRegressor(random_state=0)
dec_tree_reg.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [50]:
y_pred = dec_tree_reg.predict(X_test)

In [51]:
#the error is a bit better here 
error = np.sqrt(mean_squared_error(y_test, y_pred))
print("${:,.02f}".format(error))

$137,315,232.98

In [52]:
#combines multiple decision trees into a forest
from sklearn.ensemble import RandomForestRegressor
random_forest_reg = RandomForestRegressor(random_state=0)
random_forest_reg.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [53]:
y_pred = random_forest_reg.predict(X_test)

In [54]:
#the error is very small here
error = np.sqrt(mean_absolute_error(y_test, y_pred))
print("${:,.02f}".format(error))

$7,517.33

In [55]:
#grid serach method 
#tries each parameter and chooses best one
from sklearn.model_selection import GridSearchCV

max_depth = [None, 2, 4, 6, 8, 10, 12]
parameters = {'max_depth': max_depth}

regressor = DecisionTreeRegressor(random_state=0)
gs = GridSearchCV(regressor, parameters, scoring='neg_mean_squared_error')
gs.fit(X_train, y_train)

GridSearchCV(estimator=DecisionTreeRegressor(random_state=0),
             param_grid={'max_depth': [None, 2, 4, 6, 8, 10, 12]},
             scoring='neg_mean_squared_error')

In [56]:
regressor = gs.best_estimator_

regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

#error is pretty high here. The DecisionTree was better
#could be due to randomness in the Decision Trees 
error = np.sqrt(mean_squared_error(y_test, y_pred))
print("${:,.02f}".format(error))

$109,882,551.39

In [57]:
X

,budget,top_genre,top_production_company,popularity,runtime,release_day,release_month
0,237000000,0,18,150.437577,162.0,10,2
1,300000000,1,48,139.082615,169.0,19,8
2,245000000,0,4,107.376788,148.0,26,10
3,250000000,0,21,112.312950,165.0,16,5
4,260000000,0,48,43.926995,132.0,07,7
...,...,...,...,...,...,...,...
4774,27000,6,30,0.027811,64.0,01,4
4788,12000,10,30,4.553644,93.0,12,7
4792,20000,4,30,0.212443,111.0,06,9
4796,7000,14,30,23.307949,77.0,08,10
4798,220000,0,4,14.269792,81.0,04,11

In [58]:
#X = np.array([[200344000, "Action", 5.6, 80.0, 9, "October"]])
X = np.array([[200344000, "Action", "DC Comics", 5.6, 80.0, 9, "July"]])
X

array([['200344000', 'Action', 'DC Comics', '5.6', '80.0', '9', 'July']],
      dtype='<U32')

In [59]:
X[:, 1] = le_top_genre.transform(X[:, 1])
X[:, 2] = le_top_production_company.transform(X[:,2])
#X[:, 3] = le_top_production_country.transform(X[:, 3])
#X[:, 4] = le_original_language.transform(X[:,4])
X[:, 6] = le_release_month.transform(X[:, 6])
X

array([['200344000', '0', '6', '5.6', '80.0', '9', '5']], dtype='<U32')

In [60]:
y_pred = random_forest_reg.predict(X)
print(y_pred)

[4.43404118e+08]

/Users/joshuasuber/opt/anaconda3/envs/ml/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [61]:
y_pred = dec_tree_reg.predict(X)
print(y_pred)

[85131830.]

/Users/joshuasuber/opt/anaconda3/envs/ml/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [62]:
import pickle

In [63]:
data = {"model" : random_forest_reg, "le_top_genre": le_top_genre, "le_top_production_company": le_top_production_company, 
       "le_top_production_country": le_top_production_country, "le_original_language": le_original_language, 
        "le_release_month": le_release_month}
with open('saved_steps.pkl', 'wb') as file:
  pickle.dump(data, file)

In [64]:
with open('saved_steps.pkl', 'rb') as file:
  data = pickle.load(file)

regressor_loaded = data["model"]
le_top_genre = data["le_top_genre"]
le_top_production_company = data["le_top_production_company"]
le_top_production_country = data["le_top_production_country"]
le_original_language = data["le_original_language"]
le_release_month = data["le_release_month"]

In [65]:
np.set_printoptions(suppress=True,
   formatter={'float_kind':'{:0.0f}'.format})
y_pred = regressor_loaded.predict(X)
print(y_pred)

[443404118]

/Users/joshuasuber/opt/anaconda3/envs/ml/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [66]:
#min and max budge
print(df_sample["budget"].min())

7000

In [67]:
df_sample["budget"].unique

<bound method Series.unique of 0       237000000
1       300000000
2       245000000
3       250000000
4       260000000
          ...
4774        27000
4788        12000
4792        20000
4796         7000
4798       220000
Name: budget, Length: 3645, dtype: int64>

In [68]:
len(df_sample)

3645

In [69]:
#min and max budge
print(df_sample["budget"].max())

380000000